<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Pokemon</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>NEW!!</h1>
    <form class="form" action="/type/new" method="post">
      <label for="name">Type Name</label>
      <input class="input" type="text" name="name" id="name" />
      <button type="submit" class="button">Submit</button>
    </form>
  </body>
</html>
