<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navigation"><%- include('nav') %></div>
    <div class="type_container">
      <ul>
        <% if (locals.types) {%> <%types.forEach(type => { %>
        <li class="item">
          <h1><%= type.type_name %></h1>
        </li>
        <% }); %> <% } %>
      </ul>
      <form class="item" action="/type/new" method="get">
        <button class="button" type="submit">Add</button>
      </form>
    </div>
  </body>
</html>
